<div class="container">
<%= render "shared/ajax_call_area" %>
<%= form_for([@hotel, @menu]) do |f| %>
<div class="form-horizontal">
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="col-xs-2"></div>
      <%= f.label :name, class:"control-label col-xs-2" %>
    
    <div class="col-xs-5">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-2"></div>
      <%= f.label :description, class:"control-label col-xs-2" %>

    <div class="col-xs-5">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">        
    <center>
      <div class="col-sm-offset-2 col-sm-9">
        <div class="actions">
          <%= f.submit "Create Menu", class: 'btn btn-outline btn-success'%>
        </div>
      </div>
    </center>
  </div>
<% end %>
</div>
</div>
