<%= form_for(@menu) do |f| %>
  <%= render'shared/error_messages', ref_obj: @menu %>
  <div class="field">
    <%= f.label :Menu_name %><br>
    <%= f.text_field :Menu_name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
