
<%= form_for([@hotel, @menu], remote: true, html: { style: 'display:inline;' }) do |f| %>

  <div class="form-group">
    <%= f.label :name, class:"control-label col-sm-1", style:"padding-right: 13px;" %>
    <div class="col-xs-3">
      <%= f.text_field :name, class: "form-control" %>
    </div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <div class="col-xs-4">
      <%= f.label :Image, class: "control-label col-xs-2" %>
      <% if action_name == 'edit' then %>
        <div class="col-xs">
          <%= f.file_field :image, class: "form-control" %>
        </div><br/>
        <div class="col-xs">
          <img width="200" height="60" src="<%= @menu_category.image.url %>" alt="Logo Image", class: "form-control" >
        </div>
      <% else %>
        <div class="col-xs">
          <%= f.file_field :image %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-3">
      <div class="actions">
          <%= f.submit "Save", class: 'btn btn-outline btn-success'%>
      </div>
    </div>
  </div>
  <br/><br/><br/><br/>
<% end %>