<p id="notice"><%= notice %></p>

<p>
  <strong>Menu name:</strong>
  <%= @menu.Menu_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @menu.description %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
