<script>
	function div_scroll(str)
	{		
		$('html, body').animate({scrollTop: $("#"+str).offset().top
    	}, 2000); 
		//document.getElementById('#contact').scrollIntoView();
	}
 
</script>
<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li><a href = "">Restuarants  </a></li>
   <li><%=@hotel.name %></li>
   <li>Menu List</li>
</ol>
<div class="container">
<div class="menu_list" >
  <h3><%=@hotel.name %> Menu</h3>
  <ul class="cart__empty__elements">
  <% i=0 %>
  	<% @menus.each do |menu| %>  
  	<% i=i+1 %>
    <li class=" ">
     <a href="javascrip:void(0)" class="menu_list1" onclick="div_scroll('menu<%= i %>')">
     <h4><%= menu.name.capitalize %></h4> </a>
     </li>
    <% end %>
   </ul>
</div>

<div class="menu_div">
  	<% i=0 %>
  	<% @menus.each do |menu| %>  
  	<% i=i+1 %>
  	<div id="menu<%=i%>">    	
    <h3><%= menu.name.capitalize %></h3>
    <img  src="<%= menu.image.url %>" alt="Logo Image" class="img-thumbnail" style="width:600px; height:100px"><br/>
    <div class="row" >
        <div class="col-xs-5">
        	<h4>Chicken Lehsuni Kebab</h4>
       	</div>
        <div class="col-xs-4">Half
        </div>
        <div class="col-xs-2">
          RS.150 
		    <a href="" style="color:#009968!important"><i class="fa fa-plus-circle fa-lg"></i>
		    </a>
        </div>
	</div>
	<div class="row">
        <div class="col-xs-5">
        	<h4>Chicken Lehsuni Kebab</h4>
       	</div>
        <div class="col-xs-4">Half
        </div>
        <div class="col-xs-2">
          RS.150 
		    <a href="" style="color:#009968!important"><i class="fa fa-plus-circle fa-lg"></i>
		    </a>
        </div>
	</div>
	<div class="row">
        <div class="col-xs-5">
        	<h4>Chicken Lehsuni Kebab</h4>
       	</div>
        <div class="col-xs-4">Half
        </div>
        <div class="col-xs-2">
          RS.150 
		    <a href="" style="color:#009968!important"><i class="fa fa-plus-circle fa-lg"></i>
		    </a>
        </div>
	</div>
	<div class="row">
        <div class="col-xs-5">
        	<h4>Chicken Lehsuni Kebab</h4>
       	</div>
        <div class="col-xs-4">Half
        </div>
        <div class="col-xs-2">
          RS.150 
		    <a href="" style="color:#009968!important"><i class="fa fa-plus-circle fa-lg"></i>
		    </a>
        </div>
	</div>	</div>
	<hr/>
    <% end %>
</div>

<div class="order_div"> 
  	<div class="cart__content">
      <div class="cart__header">
	    <div class="cart__header__title">
	        <h3 style="color:#009968!important">Your order &nbsp;  &nbsp;&nbsp; <i class="fa fa-shopping-bag"></i></h3><hr>
	    </div>
	</div>
	<div class="">
    <ul class="cart__empty__elements">
    	<li class=" ">
           <i class="fa fa-clock-o fa-lg icon_color"></i>  &nbsp;Delivery time: 45min
        </li>
    	<li class="">
           <i class="fa fa-bicycle fa-lg icon_color"></i>  &nbsp;Delivery fee: Rs.20.00
        </li>
    	 <li class="">
           <i class="fa fa-paypal fa-lg icon_color"></i>  &nbsp;Online payment available
        </li>
    	<li class="" >
           <i class="fa fa-rupee fa-lg icon_color" ></i> &nbsp;Delivery min.: Rs.200.00
        </li>    	
    </ul>
  </div>
  <div class="cart__checkout">
    <a class="btn btn-default disabled btn-block btn-lg btn-arrow btn-arrow-lg js-checkout-btn" href="#" >
        Proceed to checkout
    </a>
</div>
 </div>
</div>


</div>