<%= simple_form_for([@hotel, @menu_item]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.input :name %>
  	<%= f.input :price, input_html: { maxlength: 5 } %>
  	<%= f.input :quantity, as: :boolean %>
  	<%= f.input :description, as: :text %>
  	<%= f.input :description, as: :date, start_year: Date.today.year - 90,
                              end_year: Date.today.year - 12, discard_day: true,
                              order: [:month, :year] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
