<ol class = "breadcrumb">
  <li><a href ="<%=root_path %>">Home</a></li>
  <li><a href ="<%=hotels_path %>">Restaurants</a></li>
  <li><a href ="<%=hotel_path(@hotel.id) %>"><b><%=@hotel.name %></b></a></li>
  <li><a href ="<%= hotel_menus_path(@hotel) %>"><%=@menu.name.capitalize %> Menu</a></li>
  <li class="active"><b>Menu Item</b></li>
</ol>
<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Add+', new_hotel_menu_menu_item_path(@hotel, @menu),remote:true, class: 'btn btn-outline btn-danger' %><br/><br/>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Discounted Price</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody class="menuitem-index">
      <%= render "index" %>
    </tbody>
  </table>
  <div id="menuitem-modal" class="modal fade">

  </div>
</div>