<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li class="active"><b><%= @city.name %></b></li>
   <li class="active"><b>Location</b></li>
</ol>
<div class="container">
  <p id="notice"><%= notice %></p>
  <%= link_to 'Add+', new_city_area_path(@city),remote:true, class: 'btn btn-outline btn-danger' %><br/><br/>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Location</th>
        <th>Pincode</th>
        <% if can? :update, @area %>
          <th>Update</th>
        <% end %>
        <% if can? :destroy, @area %>
          <th>Delete</th>
        <% end %>
      </tr>
    </thead>
    <tbody class="area-index">
      <%= render "index" %>
    </tbody>
  </table>
  <div id="area-modal" class="modal fade">

  </div>
</div>

