<%= form_for(@city) do |f| %>
<%= render'shared/error_messages', ref_obj: @city %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
