<%= form_for(@city) do |f| %>
	<%= render'shared/error_messages', ref_obj: @city %>
	<div class="form-horizontal"> 
	  	<div class="form-group">	       
	        <%= f.label :City_Name, class:"control-label col-xs-2" %>
	        <div class="col-xs-5">   
			   <%= f.text_field :name, class:"form-control" %>
			</div>
			<div class="col-xs-5">   
			   <div class="actions">
					<%= f.submit "Save", class: 'btn btn-outline btn-success' %>
				</div>>
			</div>
		</div>
		<div class="form-group">        
         	<center>
          		<div class="col-sm-7">
					
				</div>
			</center>
		</div>
	</div>
<% end %>
