<%= render "shared/ajax_call_area" %>
<%= form_for [@hotel, @delivery_area] do |f| %>
  <% if @delivery_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_area.errors.count, "error") %> prohibited this delivery_area from being saved:
      </h2>
      <ul>
      <% @delivery_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <select class="multipleSelect"  name="city_id" id='city_id' style="width:200px;">
    <option value="">--Select Your City--</option>
    <% @city.each do |c| %>
    <option value="<%=c.id %>"><%= c.name %></option>
    <% end %> 
  </select>

  <select id='area_id' name='area_id[]'class="multipleSelect" multiple style="width:200px;">  
  </select>
  <div class="field">
    <%= f.label :Estimated_delivery_time %><br>
    <%= f.text_field :delivery_time %>
  </div>
  <div class="field">
    <%= f.label :Delivery_charges %><br>
    <%= f.text_field :delivery_charges %>
  </div>
  <div class="field">
    <%= f.label :min_order_amount %><br>
    <%= f.text_field :min_order_amount %>
  </div>
  <div class="actions">
    <%= f.submit "Save"%>
  </div>
<% end %>