<p id="notice"><%= notice %></p>

<h1>Listing Delivery Areas</h1>

<table>
  <thead>
    <tr>
      <th>Area</th>
      <th>Hotel</th>
      <th>Delivery time</th>
      <th>Delivery charges</th>
      <th>Min order amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @delivery_areas.each do |delivery_area| %>
      <tr>
        <td><%= delivery_area.area_id %></td>
        <td><%= delivery_area.hotel_id %></td>
        <td><%= delivery_area.delivery_time %></td>
        <td><%= delivery_area.delivery_charges %></td>
        <td><%= delivery_area.min_order_amount %></td>
        <td><%= link_to 'Show', delivery_area %></td>
        <td><%= link_to 'Edit', edit_delivery_area_path(delivery_area) %></td>
        <td><%= link_to 'Destroy', delivery_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Delivery area', new_delivery_area_path %>
