<script>
$(document).ready(function() {
    $('#data1').DataTable();
} );
</script>
<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li><a href = "#">Restaurants </a></li>
   <li><%=@hotel.name%> </li>
   <li>Delivery Locations</li>
</ol>
<div class="container">
 <ul id="ul_errors"></ul>
  <div class="new-dl-area">
	<%= render 'form' %>
  </div>
<hr>
<table class="table table-bordered table-striped" >
  	<thead>
	    <tr>
	      <th>Delivery Location</th>
	      <th>Estimated Delivery Time</th>
	      <th>Delivery Charges</th>
	      <th>Min Order Amount</th>
	      <th>#</th>
	     
	    </tr>
 	</thead>
	<tbody class="dl_area_index">
	    <%= render "index" %>
 	</tbody>
</table>
</div>
<script type="text/javascript">

var $eventSelect = $("#city_id");
$eventSelect.on("select2:select", function (e) {

	 city_id=$("#city_id").val();
 	 $.ajax({
	      url: "/homes/show",
	      type: "GET",
	      data: {city_id:city_id },
	      dataType: "html",
	      success: function (data) {
	          $("#area_id").html(data);
	          $('#area_id').val("<%= @delivery_area.area_id.to_s %>").trigger('change');
	      },
	      error: function (xhr, status, error) {
	          console.log(xhr.responseText);
	      }
	  });
	});
	$( document ).ready(function() {
     $(".multipleSelect").select2({
          placeholder: 'Select'
      });
  });
</script>
