<p id="notice"><%= notice %></p>

<p>
  <strong>Area:</strong>
  <%= @delivery_area.area_id %>
</p>

<p>
  <strong>Hotel:</strong>
  <%= @delivery_area.hotel_id %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @delivery_area.delivery_time %>
</p>

<p>
  <strong>Delivery charges:</strong>
  <%= @delivery_area.delivery_charges %>
</p>

<p>
  <strong>Min order amount:</strong>
  <%= @delivery_area.min_order_amount %>
</p>

<%= link_to 'Edit', edit_delivery_area_path(@delivery_area) %> |
<%= link_to 'Back', delivery_areas_path %>
