<script>
$(document).ready(function() {
    $('#data1').DataTable();
    $('#data1_length').hide();
} );
</script>
<div class="container"><br/>	
	<div class="col-xs-2"></div>
	 <div class="col-xs-8">
	 <center>
	 <h3>Approval Pending</h3>
	 <table class="table table-bordered table-striped " style="float:none!important" id="data1">
	  <thead>
	    <tr>
	      <th >Hotel Name</th>  
	      <th >Action</th> 
	    </tr>
	  </thead>
	  <tbody>
	  	<% @hotels.each do |hotel| %>
	      <tr>
	        <td><%= hotel.name %></td>
	        <td>
	    <%if hotel.status=="Pending" %>
	     	<a data-toggle="modal" href="<%=hotel_auth_hotel_path(hotel)%>" class="label label-danger" data-remote="true"><%=hotel.status %></a>
	    <% elsif hotel.status=="Approved" %>
			<a data-toggle="modal" href="<%=hotel_auth_hotel_path(hotel)%>" class="label label-success" data-remote="true"><%=hotel.status %></a>
		<%else hotel.status=="Rejected" %>	   
			<a data-toggle="modal" href="<%=hotel_auth_hotel_path(hotel)%>" class="label label-info" data-remote="true"><%=hotel.status %></a>
		<% end %>
     		</td>	       
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	</center>
	</div>
</div>	
 <div class="modal fade" id="modal_status" role="dialog">
    
  </div>
