<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li class="active">All Restaurants</li>
</ol>
<div class="container">

<div class="row">
  <div class="col-sm-12">
  <% if can? :create, Hotel %>
    <%= link_to 'Add+', new_hotel_path, { :class=>'btn btn-danger'} %>
  <% end %>
  </div>
</div>
<br/>

<% @hotels.each do |hotel| %>
<div class="row">
  <div class="col-sm-12">
      <div class="panel panel-warning" >
          <div class="panel-heading">
            <h3 class="panel-title">
            <img width="100" height="50" src="<%=hotel.image.url %>" alt="Logo Image" class="img-thumbnail"> &nbsp
            <%= link_to hotel.name.capitalize , hotel %>(<%= hotel.type %>)
            <span style="float: right;">
            <% if can? :update, hotel %>
              <%= link_to '', edit_hotel_path(hotel), class: "fa fa-edit" %>
            <% end %>
            <% if can? :destroy, hotel %>
            <%= link_to '', hotel, class: "fa fa-times", method: :delete, data: { confirm: 'Are you sure?' } %></span>
            <% end %>
            </h3>
          </div>
          <div class="panel-body">
            <b> Speciality: </b><%= hotel.speciality %> <br/>
            <b> Address: </b><%= hotel.address %> ,<%= hotel.city.try(:name) %><br/>
            <% if can? :update, hotel %>
               <b>
                <a href="<%= new_hotel_delivery_area_path(hotel)%>" class="label label-info" >Delivery Location <i class="fa fa-plus"></i>
                </a>&nbsp;&nbsp;
                <a href="<%=  hotel_menus_path(hotel)%>" class="label label-info" >Menu
                <i class="fa fa-plus"></i>
                </a>
              </b>
            <% end %>
          </div>
      </div>
  </div>
</div>
<% end %>
<div align="center">
  <%= paginate @hotels %>
</div>
</div>
