<ol class = "breadcrumb">
   <li><a href ="<%=root_path %>">Home</a></li>
   <li><a href = "active">Hotels </a></li>
</ol>
<p id="notice"><%= notice %></p>
<%= link_to 'New Hotel', new_hotel_path, {:style=>'margin-left: 218px;', :class=>'btn btn-danger'} %>
<br><br>
<% @hotels.each do |hotel| %>
<div class="row">
  <div class="col-sm-2"></div>   
  <div class="col-sm-8">    
      <div class="panel panel-warning" >
          <div class="panel-heading"> 
            <h3 class="panel-title"> 
            <img width="100" height="50" src="<%=hotel.image.url %>" alt="Logo Image">  
            <%= link_to hotel.name , hotel %>(<%= hotel.type %>)
            <span style="float: right;">          
            <%= link_to '', edit_hotel_path(hotel), class: "fa fa-edit" %>
            <%= link_to '', hotel, class: "fa fa-times", method: :delete, data: { confirm: 'Are you sure?' } %></span>
            </h3>
          </div>
          <div class="panel-body">
            <b> Speciality: </b><%= hotel.speciality %> <br>
            <b> Address: </b><%= hotel.address %> <%= hotel.city.try(:name) %><br/>
            <b><%= link_to 'Add Delivery Location', new_hotel_delivery_area_path(hotel) %>  </b>
          </div>         
      </div>    
  </div>
  <div class="col-sm-1"></div>
</div>
  <% end %>
  <div align="center">
    <%= paginate @hotels %>
  </div>

<table style="display:none">
 <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= hotel.name %></td>
        <td><%= hotel.type %></td>
        <td><%= hotel.city.try(:name) %></td>
        <td><%= hotel.speciality %></td>
        <td><%= hotel.address %></td>
        <td><%= hotel.user.try(:email) %></td>
        <td><%= link_to 'Show', hotel %></td>
        <td><%= link_to 'Edit', edit_hotel_path(hotel) %></td>
        <td><%= link_to 'Destroy', hotel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

