<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="thumbnail">
    <img width="600" height="600"   src="<%=@hotel.image.url %>" alt="Logo Image" class="img-thumbnail">
      <div class="caption">
        <h3 align="center"><%= @hotel.name.capitalize %>(<%= @hotel.type %>)</h3>
         <center>
          <p>
          <b> Speciality: </b><%= @hotel.speciality %> <br/><br/>
          <b> Address: </b><%= @hotel.address %> <%= @hotel.city.try(:name) %><br/><br/>
          <b>
           <b><a href="<%= new_hotel_delivery_area_path(@hotel)%>" class="label label-info" >Delivery Location
              <i class="fa fa-plus"></i></a>
            </b>
          <br/><br/>

        </p>
        <p>
          <%= link_to 'Edit', edit_hotel_path(@hotel), :class => "btn btn-success", :method => :get %>
          <%= link_to 'Back', hotels_path, :class => "btn btn-success", :method => :get %>
        </p>
        </center>
      </div>
    </div>
  </div>
</div>




<!--%= button_to "Edit", edit_hotel_path(@hotel), :id => "open-contacts-dialog-btn",
         :class => "btn btn-primary", :method => :get %><%= button_to "Back", hotels_path, :id =>"open-contacts-dialog-btn", :class => "btn btn-primary", :method => :get %>
<a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a-->