<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>    
  </div>
  <%= link_to "Food Corner", root_path, class: "navbar-brand logo" %>
  <!--a class="navbar-brand logo" href="#">FoodCorner</a-->
  <div class="navbar-collapse collapse">   
<<<<<<< HEAD
    <ul class="nav navbar-nav navbar-right">        
      <li><%= link_to "Restaurants",hotels_path ,class: "menu_font"%></li>
      <li><%= link_to "Sign_in", new_user_session_path , class: " menu_font"%> </li>
      <li><a href="#" > <span class="glyphicon glyphicon-question-sign" style="color: white;"></a>
=======
    <ul class="nav navbar-nav navbar-right">  
    <% if user_signed_in? %>  
    <li><%= link_to "Restaurants", hotels_path , class: "menu_font"%></li>
    <li><a href="#" >
          <span class="glyphicon glyphicon-question-sign" style="color: white;"> 
        </a>
>>>>>>> ac6eb0a3f22fee2782630ff20acd6ae0e5c38838
      </li> 
      <li class="dropdown notifications-menu" >
        <a href="javascript:void(0);" class="dropdown-toggle astro-notification" data-toggle="dropdown">
          <i class="fa fa-bell-o"style="color: white;" style="color: white;"></i>
          <span class="badge">5</span>
          <span class="label label-danger notification-count"></span>
        </a>
        <ul class="dropdown-menu">
          <li class="header">You have <span id="total_notification">5</span>  notifications</li>
          <li>
          <ul class="menu" id="list_notification">           
            <li>
              <a href="javascript:void(0);" >
                Nitish Gupta @ 10:00 AM.
              </a>
            </li>            
          </ul>
          </li>
          <li class="footer"><a href="javascript:void(0);">View all</a></li>
        </ul>
      </li> 
      <li class="dropdown" id="profile" style="float:right!important">
        <a href="#" class="dropdown-toggle menu_font" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user"></span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu ">
          <li><a href="#">My Profile</a></li>
          <li><%= link_to 'Change Password', edit_user_registration_path %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: 'delete' %></li>
        </ul>
      </li>
      <% else %>
        <li><%= link_to "Log in or Sign up", new_user_session_path , class: " menu_font"%></li>
      <% end %>
    </ul>
  </div>
</nav>
